Implementation Idea: adherence to CalDAV for event planning

# Considering implementing CalDAV within backend

This issue is merely to illustrate a potential good path, since `planning.md` prefers that we keep our options open.
CalDAV may be our best 'communications' standard to handle calendarized event planning. The standard actually uses _iCalendar_ to store data, so we could meet _Could-have_ #3.

## Relevant RFCs

- [RFC 4791](https://datatracker.ietf.org/doc/html/rfc4791)
    - Defines the _access protocol_ for CalDAV
- [RFC 6638](https://datatracker.ietf.org/doc/html/rfc6638)
    - Defines the _scheduling extensions_ to CalDAV
- [RFC 4918](https://datatracker.ietf.org/doc/html/rfc4918)
    - Defines WebDAV, so perhaps not relevant - but putting here just in case.

## Potential Issues
- We must _parse_ the iCalendar items _[because servers must support calendaring-specific options](https://en.wikipedia.org/wiki/CalDAV)_ (not sure on the specifics of this)
- Can persons mark themselves as "interested" in the event with this?
- Furthermore, can we assign attendance to CalDAV entries?
- CalDAV is a _large_ standard, so this might be a bit big in scale for a Hackathon.
    - Existing servers do not implement all of CalDAV, however - and still function just fine.
        - Perhaps this means we can limit scope to just what we'd need?
- If we want our calendar to be tied to Exchange (i.e., NTU's e-mail infrastructure), we might struggle to make it interoperable
    - This is hardly a new problem though, so I imagine it's not one without solutions, or attempts thereof.
- General standards bloat...
    - Want to try and make sure we don't spend the hackathon just reading RFCs, or accidentally make it too difficult to contribute by trying to do it this way.
## Why do it this way?
- CalDAV is universally supported by a number of software solutions, meaning our calendar backend may be more portable.
- This could make implementing a JS-based embed easier too, if most existing solutions we could draw upon (FOSS) also use CalDAV.

Hey @jordanofoster,

This seems like a really good fit. It's looking like we're going to be using C# / .NET for the back-end, so I've had a quick look around and found CalDAV.NET as well, which we could use. It seems a bit outdated, so we may need to fork it and update dependencies though.

I'll have more of a look later when we're further into development, but to be honest, I see no reason not to go down the CalDAV route.

Closing this issue as we're deciding to go with the [Google Calendar API](https://developers.google.com/calendar/api) instead for ease-of-use with existing DevSoc e-mails.